<!-- _includes/sidebar -->
    <div id="sidebar" class="has_description">
      <a href="/" id="sidebar_title" title="Home">
        <h1>{{ site.title }}</h1>
      </a>

      <h6>*</h6>




      <ul>
      {% for collection in site.collections %}
      {% if collection.label == 'posts' %}{% elseif collection.label == 'uploads' %}{% else %}
    <li><a href="/{{ collection.label }}">{{ collection.label | capitalize }}</a></li>
    {% endif %}
{% endfor %}
        <li><a href="/Painting">Hardcoded</a></li>
        <li><a href="/Sculpture">Sculpture</a></li>
        <li><a href="/Photography">Photography</a></li>
        <li><a href="/PublicWorks">Public Works</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/cv">CV</a></li>
      </ul>
    </div>