::selection { background-color: rgba(255,255,255,0.6); }
::-moz-selection { background-color: rgba(255,255,255,0.6); }
body {
  font-family: monospace;
  color: #000000;
  background: #fcebd5;
}

@font-face {
  font-family: 'Brutal Type';
  src: url('https://assets.tumblr.com/fonts/brutaltype/BrutalType-Bold-webfont.woff') format('woff');
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Brutal Type', sans-serif;
  font-weight: bold;
  color: #000a0e;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  font-size: 14px;
  margin-bottom: 5px!important;
}

a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6 {
  color: #FFFFFF;
}
p a:hover, li a:hover {
  background-color: rgba(255,255,255,0.6);
}

#sidebar h6 {
  color: #000000;
}
#sidebar li a {
  border-bottom-style: none;
  color: #000a0e;
}

.post .link_container {
  background-color: #000000;
  color: #fcebd5;
}
.post .link_container:after {
  border-color: rgba(252,235,213,0.4);
}
.post .link_container:hover:after {
  border-color: rgba(252,235,213,0.8);
}
.post .read_more {
  border-color: #000000;
}
#post_information h6 {
  color: #000000;
}

.bio p {
  margin: 0;
}

ul li{
  list-style-type: none;
  margin: 10px 0;
}
ul {
  margin: 0;
}

#sidebar h6 {
  margin-top: 40px;
}

.artwork ul li:first-child {
  font-style: italic;
}

.cv ul li, .artwork ul li, .post ul li {
  margin: 0;
}
.cv li em:first-child {
  font-style: normal;
}

.cv li em:first-child::after{
  content: "\00a0 \00a0";

}
