<!doctype html>
<html class="no-js" lang="">
  <head>
      <meta charset="utf-8">
      <meta name="robots" content="noindex">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>{{ site.title }}</title>
      <meta name="description" content="{{ site.description }}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script type="text/javascript">self.location = 'https://manage.siteleaf.com/login';</script>
      <meta http-equiv="refresh" content="0; URL='https://manage.siteleaf.com/login'" />
  </head>
  <body>
  </body>
</html>