---
layout: default
---

<div id="posts">
  <div class="post text" id="P">
    {{ content }}
  </div>
</div>

<!--
<div class="inner">
      <h4>Painting</h4>
      <p>
      <a href="http://jackgmorris.tumblr.com/PaintingNotForSale" title="Painting">NOT FOR SALE</a>
      </p>

      <p>
      <a href="http://jackgmorris.tumblr.com/PaintingFieldsOfVision" title="Painting">FIELDS OF VISION</a>
      </p>
      <p>
      <a href="http://jackgmorris.tumblr.com/PaintingZamboni" title="Painting">ZAMBONI</a></p>
      <p>
      <a href="http://jackgmorris.tumblr.com/PaintingRejections" title="Painting">REJECTIONS<br><br></a>
      <a href="http://jackgmorris.tumblr.com/PaintingBackTalk" title="Painting">BACK TALK</a></p><p><a href="http://jackgmorris.tumblr.com/PaintingHallOfFame" title="Painting"><br></a>
      <a href="http://jackgmorris.tumblr.com/PaintingBackTalk" title="Painting"><br></a>
      </p>
    </div>

    -->