

<style>figure{margin:0}.tmblr-iframe{position:absolute}.tmblr-iframe.hide{display:none}</style><link rel="shortcut icon" href="http://68.media.tumblr.com/avatar_8b34cb75b455_128.png" />
<link rel="alternate" type="application/rss+xml" href="http://jackgmorris.com/rss" />
<link rel="stylesheet" href="http://static.tumblr.com/m9ln1jy/JdRnajktj/issue.css" />


<link rel="canonical" href="http://jackgmorris.com" /></head>
<body class="index_page">
  <div id="sidebar" class="has_description">
    <a href="/" id="sidebar_title" title="Home">

      <h1>Jack Morris</h1>
    </a>

    <div id="sidebar_description">

    </div>

    <ul>


      <li><a href="" title=""></a></li>
      <li>

    </ul>

    <h6>*</h6>

    <ul>
      <li><a href="/Painting">Painting</a></li>
      <li><a href="/Sculpture">Sculpture</a></li>
      <li><a href="/Photography">Photography</a></li>
      <li><a href="/PublicWorks">Public Works</a></li>
      <li><a href="/_archive">Archive</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/CV">CV</a></li>
    </ul>

    <ul id="pagination">
      <li><a href="/page/2" id="next">Next page</a></li>
    </ul>
  </div>

  <div id="posts">
    <div class="post photoset" id="P161596109733">
      <div class="post_media">
        <img src="http://68.media.tumblr.com/e49598573af3344097beeeede11cf685/tumblr_or8zen23BX1ucvk4jo1_400.jpg" width="400" height="261" alt="&lsquo;Mayonnaise coloured Benz, I push Miracle Whips&rsquo;
To release an unfinished album, The Life of Pablo, and tour in one of the most unique ways to date was an experience of a life time. To make moves as bold as album cover changes and songs adjustments,..." class="main_image" /><img src="http://68.media.tumblr.com/700672140d0e6c5e203102c73d407422/tumblr_or8zen23BX1ucvk4jo2_400.jpg" width="400" height="264" alt="&lsquo;Mayonnaise coloured Benz, I push Miracle Whips&rsquo;
To release an unfinished album, The Life of Pablo, and tour in one of the most unique ways to date was an experience of a life time. To make moves as bold as album cover changes and songs adjustments,..." class="main_image" /><img src="http://68.media.tumblr.com/0148b8e26dc158000d194f0ca3024c1d/tumblr_or8zen23BX1ucvk4jo3_400.jpg" width="400" height="265" alt="&lsquo;Mayonnaise coloured Benz, I push Miracle Whips&rsquo;
To release an unfinished album, The Life of Pablo, and tour in one of the most unique ways to date was an experience of a life time. To make moves as bold as album cover changes and songs adjustments,..." class="main_image" /><img src="http://68.media.tumblr.com/d26f00da89efe7719db1597152759f94/tumblr_or8zen23BX1ucvk4jo4_400.jpg" width="393" height="600" alt="&lsquo;Mayonnaise coloured Benz, I push Miracle Whips&rsquo;
To release an unfinished album, The Life of Pablo, and tour in one of the most unique ways to date was an experience of a life time. To make moves as bold as album cover changes and songs adjustments,..." class="main_image" /><img src="http://68.media.tumblr.com/44d482d829fc7620c82cf5af3ffdaa61/tumblr_or8zen23BX1ucvk4jo5_400.jpg" width="400" height="260" alt="&lsquo;Mayonnaise coloured Benz, I push Miracle Whips&rsquo;
To release an unfinished album, The Life of Pablo, and tour in one of the most unique ways to date was an experience of a life time. To make moves as bold as album cover changes and songs adjustments,..." class="main_image" /><img src="http://68.media.tumblr.com/8f475f75c6c213309028412c5add39ec/tumblr_or8zen23BX1ucvk4jo6_400.jpg" width="393" height="600" alt="&lsquo;Mayonnaise coloured Benz, I push Miracle Whips&rsquo;
To release an unfinished album, The Life of Pablo, and tour in one of the most unique ways to date was an experience of a life time. To make moves as bold as album cover changes and songs adjustments,..." class="main_image" /><img src="http://68.media.tumblr.com/1117f7989d236967e2777c538311358f/tumblr_or8zen23BX1ucvk4jo7_400.jpg" width="400" height="263" alt="&lsquo;Mayonnaise coloured Benz, I push Miracle Whips&rsquo;
To release an unfinished album, The Life of Pablo, and tour in one of the most unique ways to date was an experience of a life time. To make moves as bold as album cover changes and songs adjustments,..." class="main_image" />
      </div>

      <div class="post_information">
        <div class="central_container">
          <div class="inner_container">
            <div class="post_controls">
              <div class="like_button" data-post-id="161596109733" data-blog-name="jackgmorris" id="like_button_161596109733"><iframe id="like_iframe_161596109733" src="http://assets.tumblr.com/assets/html/like_iframe.html?_v=5716f9145cbbcc5e21aa13229de5d4ed#name=jackgmorris&amp;post_id=161596109733&amp;color=white&amp;rk=Adnl8gG0" scrolling="no" width="24" height="24" frameborder="0" class="like_toggle" allowTransparency="true" name="like_iframe_161596109733"></iframe></div>
              <a href="https://www.tumblr.com/reblog/161596109733/Adnl8gG0" class="reblog_button"style="display: block;width:24px;height:24px;"><svg width="100%" height="100%" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff"><path d="M5.01092527,5.99908429 L16.0088498,5.99908429 L16.136,9.508 L20.836,4.752 L16.136,0.083 L16.1360004,3.01110845 L2.09985349,3.01110845 C1.50585349,3.01110845 0.979248041,3.44726568 0.979248041,4.45007306 L0.979248041,10.9999998 L3.98376463,8.30993634 L3.98376463,6.89801007 C3.98376463,6.20867902 4.71892527,5.99908429 5.01092527,5.99908429 Z"></path><path d="M17.1420002,13.2800293 C17.1420002,13.5720293 17.022957,14.0490723 16.730957,14.0490723 L4.92919922,14.0490723 L4.92919922,11 L0.5,15.806 L4.92919922,20.5103758 L5.00469971,16.9990234 L18.9700928,16.9990234 C19.5640928,16.9990234 19.9453125,16.4010001 19.9453125,15.8060001 L19.9453125,9.5324707 L17.142,12.203"></path></svg></a>
              <a href="http://jackgmorris.com/post/161596109733/mayonnaise-coloured-benz-i-push-miracle-whips" class="note_count">1</a>
            </div>
            <div class="post_meta date_and_source">
              <h6 class="date"><a href="http://jackgmorris.com/post/161596109733/mayonnaise-coloured-benz-i-push-miracle-whips">5 days ago</a></h6>
            </div>
            <div class="post_meta tags"><a href="http://jackgmorris.com/tagged/kanyewest">#kanyewest</a> <a href="http://jackgmorris.com/tagged/tlop">#tlop</a> <a href="http://jackgmorris.com/tagged/the-life-of-pablo">#the life of pablo</a> <a href="http://jackgmorris.com/tagged/yeezy">#yeezy</a> <a href="http://jackgmorris.com/tagged/yeezyseason">#yeezyseason</a> <a href="http://jackgmorris.com/tagged/vancouver">#vancouver</a> <a href="http://jackgmorris.com/tagged/35mm">#35mm</a> <a href="http://jackgmorris.com/tagged/35mm-photography">#35mm photography</a> <a href="http://jackgmorris.com/tagged/happybirthday">#happybirthday</a> <a href="http://jackgmorris.com/tagged/ye">#ye</a> <a href="http://jackgmorris.com/tagged/nardwuar">#nardwuar</a> <a href="http://jackgmorris.com/tagged/kim-kardashian">#kim kardashian</a> <a href="http://jackgmorris.com/tagged/avantgarde">#avantgarde</a> <a href="http://jackgmorris.com/tagged/music">#music</a> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="post photoset" id="P161441084368">
      <div class="post_media">
        <img src="http://68.media.tumblr.com/3ca417d0f8eb900d305ac0f110271575/tumblr_or1lq2iD661ucvk4jo5_400.jpg" width="400" height="265" alt="Super Basic (2015), at Skylight Gallery, Vancouver BC.
Artists: Kai Choufour, Natalie Schmidt, Melanie Thibodeau, Chelsea Yuill, Amanda Crain, Jack Morris" class="main_image" /><img src="http://68.media.tumblr.com/d78a7fa4c267ca8e3cd2ef8456f39d13/tumblr_or1lq2iD661ucvk4jo2_400.jpg" width="394" height="600" alt="Super Basic (2015), at Skylight Gallery, Vancouver BC.
Artists: Kai Choufour, Natalie Schmidt, Melanie Thibodeau, Chelsea Yuill, Amanda Crain, Jack Morris" class="main_image" /><img src="http://68.media.tumblr.com/1c7d13809535ce0bd79bca75f63055df/tumblr_or1lq2iD661ucvk4jo3_400.jpg" width="400" height="563" alt="Super Basic (2015), at Skylight Gallery, Vancouver BC.
Artists: Kai Choufour, Natalie Schmidt, Melanie Thibodeau, Chelsea Yuill, Amanda Crain, Jack Morris" class="main_image" /><img src="http://68.media.tumblr.com/21202d6120453630f673d1c5af20cff9/tumblr_or1lq2iD661ucvk4jo4_400.jpg" width="390" height="600" alt="Super Basic (2015), at Skylight Gallery, Vancouver BC.
Artists: Kai Choufour, Natalie Schmidt, Melanie Thibodeau, Chelsea Yuill, Amanda Crain, Jack Morris" class="main_image" /><img src="http://68.media.tumblr.com/125e40ab9facf4554328028e043fca35/tumblr_or1lq2iD661ucvk4jo1_400.jpg" width="400" height="280" alt="Super Basic (2015), at Skylight Gallery, Vancouver BC.
Artists: Kai Choufour, Natalie Schmidt, Melanie Thibodeau, Chelsea Yuill, Amanda Crain, Jack Morris" class="main_image" /><img src="http://68.media.tumblr.com/a9590af73e99ba614d228ca1792964b7/tumblr_or1lq2iD661ucvk4jo7_400.jpg" width="400" height="264" alt="Super Basic (2015), at Skylight Gallery, Vancouver BC.
Artists: Kai Choufour, Natalie Schmidt, Melanie Thibodeau, Chelsea Yuill, Amanda Crain, Jack Morris" class="main_image" /><img src="http://68.media.tumblr.com/dfb1127893cd9c3041c6f5fe7596a821/tumblr_or1lq2iD661ucvk4jo6_400.jpg" width="393" height="600" alt="Super Basic (2015), at Skylight Gallery, Vancouver BC.
Artists: Kai Choufour, Natalie Schmidt, Melanie Thibodeau, Chelsea Yuill, Amanda Crain, Jack Morris" class="main_image" />
      </div>

      <div class="post_information">
        <div class="central_container">
          <div class="inner_container">
            <div class="post_controls">
              <div class="like_button" data-post-id="161441084368" data-blog-name="jackgmorris" id="like_button_161441084368"><iframe id="like_iframe_161441084368" src="http://assets.tumblr.com/assets/html/like_iframe.html?_v=5716f9145cbbcc5e21aa13229de5d4ed#name=jackgmorris&amp;post_id=161441084368&amp;color=white&amp;rk=xJsYwQXV" scrolling="no" width="24" height="24" frameborder="0" class="like_toggle" allowTransparency="true" name="like_iframe_161441084368"></iframe></div>
              <a href="https://www.tumblr.com/reblog/161441084368/xJsYwQXV" class="reblog_button"style="display: block;width:24px;height:24px;"><svg width="100%" height="100%" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff"><path d="M5.01092527,5.99908429 L16.0088498,5.99908429 L16.136,9.508 L20.836,4.752 L16.136,0.083 L16.1360004,3.01110845 L2.09985349,3.01110845 C1.50585349,3.01110845 0.979248041,3.44726568 0.979248041,4.45007306 L0.979248041,10.9999998 L3.98376463,8.30993634 L3.98376463,6.89801007 C3.98376463,6.20867902 4.71892527,5.99908429 5.01092527,5.99908429 Z"></path><path d="M17.1420002,13.2800293 C17.1420002,13.5720293 17.022957,14.0490723 16.730957,14.0490723 L4.92919922,14.0490723 L4.92919922,11 L0.5,15.806 L4.92919922,20.5103758 L5.00469971,16.9990234 L18.9700928,16.9990234 C19.5640928,16.9990234 19.9453125,16.4010001 19.9453125,15.8060001 L19.9453125,9.5324707 L17.142,12.203"></path></svg></a>
              <a href="http://jackgmorris.com/post/161441084368/super-basic-2015-at-skylight-gallery-vancouver" class="note_count">2</a>
            </div>
            <div class="post_meta date_and_source">
              <h6 class="date"><a href="http://jackgmorris.com/post/161441084368/super-basic-2015-at-skylight-gallery-vancouver">1 week ago</a></h6>
            </div>
            <div class="post_meta tags"><a href="http://jackgmorris.com/tagged/jackmorris-chelseayuill-melaniethibodeau-natalieschmidt-amandacrain-kaichoufour-Sculpture-painting-artist-art-vancouver-bc">#jackmorris chelseayuill melaniethibodeau natalieschmidt amandacrain kaichoufour Sculpture painting artist art vancouver bc</a> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="post photo" id="P161440052963">
      <div class="post_media">
        <a href="http://jackgmorris.com/image/161440052963"><img src="http://68.media.tumblr.com/ec887014e60881655029fd37373d8a1b/tumblr_or1kecZZd61ucvk4jo1_400.jpg" width="397" height="600" alt="View." class="main_image" /></a>
      </div>

      <div class="post_information">
        <div class="central_container">
          <div class="inner_container">
            <div class="post_controls">
              <div class="like_button" data-post-id="161440052963" data-blog-name="jackgmorris" id="like_button_161440052963"><iframe id="like_iframe_161440052963" src="http://assets.tumblr.com/assets/html/like_iframe.html?_v=5716f9145cbbcc5e21aa13229de5d4ed#name=jackgmorris&amp;post_id=161440052963&amp;color=white&amp;rk=qumfaa4g" scrolling="no" width="24" height="24" frameborder="0" class="like_toggle" allowTransparency="true" name="like_iframe_161440052963"></iframe></div>
              <a href="https://www.tumblr.com/reblog/161440052963/qumfaa4g" class="reblog_button"style="display: block;width:24px;height:24px;"><svg width="100%" height="100%" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff"><path d="M5.01092527,5.99908429 L16.0088498,5.99908429 L16.136,9.508 L20.836,4.752 L16.136,0.083 L16.1360004,3.01110845 L2.09985349,3.01110845 C1.50585349,3.01110845 0.979248041,3.44726568 0.979248041,4.45007306 L0.979248041,10.9999998 L3.98376463,8.30993634 L3.98376463,6.89801007 C3.98376463,6.20867902 4.71892527,5.99908429 5.01092527,5.99908429 Z"></path><path d="M17.1420002,13.2800293 C17.1420002,13.5720293 17.022957,14.0490723 16.730957,14.0490723 L4.92919922,14.0490723 L4.92919922,11 L0.5,15.806 L4.92919922,20.5103758 L5.00469971,16.9990234 L18.9700928,16.9990234 C19.5640928,16.9990234 19.9453125,16.4010001 19.9453125,15.8060001 L19.9453125,9.5324707 L17.142,12.203"></path></svg></a>
              <a href="http://jackgmorris.com/post/161440052963/view" class="note_count">2</a>
            </div>
            <div class="post_meta date_and_source">
              <h6 class="date"><a href="http://jackgmorris.com/post/161440052963/view">1 week ago</a></h6>
            </div>
            <div class="post_meta tags"><a href="http://jackgmorris.com/tagged/jackmorris">#jackmorris</a> <a href="http://jackgmorris.com/tagged/photography">#photography</a> <a href="http://jackgmorris.com/tagged/artist">#artist</a> <a href="http://jackgmorris.com/tagged/art">#art</a> <a href="http://jackgmorris.com/tagged/vancouver">#vancouver</a> <a href="http://jackgmorris.com/tagged/bc">#bc</a> <a href="http://jackgmorris.com/tagged/35mm-film">#35mm film</a> <a href="http://jackgmorris.com/tagged/35mm">#35mm</a> <a href="http://jackgmorris.com/tagged/35mm-photography">#35mm photography</a> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="post photo" id="P157689428248">
      <div class="post_media">
        <a href="http://jackgmorris.com/image/157689428248"><img src="http://68.media.tumblr.com/5ea20902b3af5ad9021ff14c42e0315a/tumblr_oljf7w0V4h1ucvk4jo1_400.jpg" width="400" height="564" alt="Jack Morris Sculpture difficulties, pre-opening at Skylight." class="main_image" /></a>
      </div>

      <div class="post_information">
        <div class="central_container">
          <div class="inner_container">
            <div class="post_controls">
              <div class="like_button" data-post-id="157689428248" data-blog-name="jackgmorris" id="like_button_157689428248"><iframe id="like_iframe_157689428248" src="http://assets.tumblr.com/assets/html/like_iframe.html?_v=5716f9145cbbcc5e21aa13229de5d4ed#name=jackgmorris&amp;post_id=157689428248&amp;color=white&amp;rk=zDN6OkDS" scrolling="no" width="24" height="24" frameborder="0" class="like_toggle" allowTransparency="true" name="like_iframe_157689428248"></iframe></div>
              <a href="https://www.tumblr.com/reblog/157689428248/zDN6OkDS" class="reblog_button"style="display: block;width:24px;height:24px;"><svg width="100%" height="100%" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff"><path d="M5.01092527,5.99908429 L16.0088498,5.99908429 L16.136,9.508 L20.836,4.752 L16.136,0.083 L16.1360004,3.01110845 L2.09985349,3.01110845 C1.50585349,3.01110845 0.979248041,3.44726568 0.979248041,4.45007306 L0.979248041,10.9999998 L3.98376463,8.30993634 L3.98376463,6.89801007 C3.98376463,6.20867902 4.71892527,5.99908429 5.01092527,5.99908429 Z"></path><path d="M17.1420002,13.2800293 C17.1420002,13.5720293 17.022957,14.0490723 16.730957,14.0490723 L4.92919922,14.0490723 L4.92919922,11 L0.5,15.806 L4.92919922,20.5103758 L5.00469971,16.9990234 L18.9700928,16.9990234 C19.5640928,16.9990234 19.9453125,16.4010001 19.9453125,15.8060001 L19.9453125,9.5324707 L17.142,12.203"></path></svg></a>
              <a href="http://jackgmorris.com/post/157689428248/jack-morris-sculpture-difficulties-pre-opening-at" class="note_count">4</a>
            </div>
            <div class="post_meta date_and_source">
              <h6 class="date"><a href="http://jackgmorris.com/post/157689428248/jack-morris-sculpture-difficulties-pre-opening-at">3 months ago</a></h6>
            </div>
            <div class="post_meta tags"><a href="http://jackgmorris.com/tagged/35mm">#35mm</a> <a href="http://jackgmorris.com/tagged/35mm-f">#35mm f</a> <a href="http://jackgmorris.com/tagged/35mm-photography">#35mm photography</a> <a href="http://jackgmorris.com/tagged/jackmorris">#jackmorris</a> <a href="http://jackgmorris.com/tagged/artist-art">#artist art</a> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="post photo" id="P157649267689">
      <div class="post_media">
        <a href="http://jackgmorris.com/image/157649267689"><img src="http://68.media.tumblr.com/33767735622eecbf16c17b320ab74893/tumblr_oljf2kv3uy1ucvk4jo1_400.jpg" width="400" height="263" alt="hound tooth." class="main_image" /></a>
      </div>

      <div class="post_information">
        <div class="central_container">
          <div class="inner_container">
            <div class="post_controls">
              <div class="like_button" data-post-id="157649267689" data-blog-name="jackgmorris" id="like_button_157649267689"><iframe id="like_iframe_157649267689" src="http://assets.tumblr.com/assets/html/like_iframe.html?_v=5716f9145cbbcc5e21aa13229de5d4ed#name=jackgmorris&amp;post_id=157649267689&amp;color=white&amp;rk=DA9Xorxj" scrolling="no" width="24" height="24" frameborder="0" class="like_toggle" allowTransparency="true" name="like_iframe_157649267689"></iframe></div>
              <a href="https://www.tumblr.com/reblog/157649267689/DA9Xorxj" class="reblog_button"style="display: block;width:24px;height:24px;"><svg width="100%" height="100%" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff"><path d="M5.01092527,5.99908429 L16.0088498,5.99908429 L16.136,9.508 L20.836,4.752 L16.136,0.083 L16.1360004,3.01110845 L2.09985349,3.01110845 C1.50585349,3.01110845 0.979248041,3.44726568 0.979248041,4.45007306 L0.979248041,10.9999998 L3.98376463,8.30993634 L3.98376463,6.89801007 C3.98376463,6.20867902 4.71892527,5.99908429 5.01092527,5.99908429 Z"></path><path d="M17.1420002,13.2800293 C17.1420002,13.5720293 17.022957,14.0490723 16.730957,14.0490723 L4.92919922,14.0490723 L4.92919922,11 L0.5,15.806 L4.92919922,20.5103758 L5.00469971,16.9990234 L18.9700928,16.9990234 C19.5640928,16.9990234 19.9453125,16.4010001 19.9453125,15.8060001 L19.9453125,9.5324707 L17.142,12.203"></path></svg></a>
              <a href="http://jackgmorris.com/post/157649267689/hound-tooth" class="note_count">1</a>
            </div>
            <div class="post_meta date_and_source">
              <h6 class="date"><a href="http://jackgmorris.com/post/157649267689/hound-tooth">3 months ago</a></h6>
            </div>
            <div class="post_meta tags"><a href="http://jackgmorris.com/tagged/35mm">#35mm</a> <a href="http://jackgmorris.com/tagged/35mm-film">#35mm film</a> <a href="http://jackgmorris.com/tagged/35mm-photography">#35mm photography</a> <a href="http://jackgmorris.com/tagged/hound-tooth">#hound tooth</a> <a href="http://jackgmorris.com/tagged/classic-car">#classic car</a> <a href="http://jackgmorris.com/tagged/vintage-car">#vintage car</a> <a href="http://jackgmorris.com/tagged/art-artist">#art artist</a> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="post photo" id="P157608827870">
      <div class="post_media">
        <a href="http://jackgmorris.com/image/157608827870"><img src="http://68.media.tumblr.com/299ed61ebada2209153a4d323ddda677/tumblr_oljez3YHeh1ucvk4jo1_400.jpg" width="400" height="252" alt="recovery time." class="main_image" /></a>
      </div>

      <div class="post_information">
        <div class="central_container">
          <div class="inner_container">
            <div class="post_controls">
              <div class="like_button" data-post-id="157608827870" data-blog-name="jackgmorris" id="like_button_157608827870"><iframe id="like_iframe_157608827870" src="http://assets.tumblr.com/assets/html/like_iframe.html?_v=5716f9145cbbcc5e21aa13229de5d4ed#name=jackgmorris&amp;post_id=157608827870&amp;color=white&amp;rk=JIW4znEw" scrolling="no" width="24" height="24" frameborder="0" class="like_toggle" allowTransparency="true" name="like_iframe_157608827870"></iframe></div>
              <a href="https://www.tumblr.com/reblog/157608827870/JIW4znEw" class="reblog_button"style="display: block;width:24px;height:24px;"><svg width="100%" height="100%" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff"><path d="M5.01092527,5.99908429 L16.0088498,5.99908429 L16.136,9.508 L20.836,4.752 L16.136,0.083 L16.1360004,3.01110845 L2.09985349,3.01110845 C1.50585349,3.01110845 0.979248041,3.44726568 0.979248041,4.45007306 L0.979248041,10.9999998 L3.98376463,8.30993634 L3.98376463,6.89801007 C3.98376463,6.20867902 4.71892527,5.99908429 5.01092527,5.99908429 Z"></path><path d="M17.1420002,13.2800293 C17.1420002,13.5720293 17.022957,14.0490723 16.730957,14.0490723 L4.92919922,14.0490723 L4.92919922,11 L0.5,15.806 L4.92919922,20.5103758 L5.00469971,16.9990234 L18.9700928,16.9990234 C19.5640928,16.9990234 19.9453125,16.4010001 19.9453125,15.8060001 L19.9453125,9.5324707 L17.142,12.203"></path></svg></a>
              <a href="http://jackgmorris.com/post/157608827870/recovery-time" class="note_count">2</a>
            </div>
            <div class="post_meta date_and_source">
              <h6 class="date"><a href="http://jackgmorris.com/post/157608827870/recovery-time">3 months ago</a></h6>
            </div>
            <div class="post_meta tags"><a href="http://jackgmorris.com/tagged/35mm">#35mm</a> <a href="http://jackgmorris.com/tagged/35mm-film">#35mm film</a> <a href="http://jackgmorris.com/tagged/35mm-photography">#35mm photography</a> <a href="http://jackgmorris.com/tagged/mug-nature-cabin-recovery-coffee">#mug nature cabin recovery coffee</a> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="post photo" id="P157567331236">
      <div class="post_media">
        <a href="http://jackgmorris.com/image/157567331236"><img src="http://68.media.tumblr.com/58716c26ebe8a5f097189ab8737d25d9/tumblr_oljejdUW7g1ucvk4jo1_400.jpg" width="400" height="264" alt="glove." class="main_image" /></a>
      </div>

      <div class="post_information">
        <div class="central_container">
          <div class="inner_container">
            <div class="post_controls">
              <div class="like_button" data-post-id="157567331236" data-blog-name="jackgmorris" id="like_button_157567331236"><iframe id="like_iframe_157567331236" src="http://assets.tumblr.com/assets/html/like_iframe.html?_v=5716f9145cbbcc5e21aa13229de5d4ed#name=jackgmorris&amp;post_id=157567331236&amp;color=white&amp;rk=fGY1PPqN" scrolling="no" width="24" height="24" frameborder="0" class="like_toggle" allowTransparency="true" name="like_iframe_157567331236"></iframe></div>
              <a href="https://www.tumblr.com/reblog/157567331236/fGY1PPqN" class="reblog_button"style="display: block;width:24px;height:24px;"><svg width="100%" height="100%" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff"><path d="M5.01092527,5.99908429 L16.0088498,5.99908429 L16.136,9.508 L20.836,4.752 L16.136,0.083 L16.1360004,3.01110845 L2.09985349,3.01110845 C1.50585349,3.01110845 0.979248041,3.44726568 0.979248041,4.45007306 L0.979248041,10.9999998 L3.98376463,8.30993634 L3.98376463,6.89801007 C3.98376463,6.20867902 4.71892527,5.99908429 5.01092527,5.99908429 Z"></path><path d="M17.1420002,13.2800293 C17.1420002,13.5720293 17.022957,14.0490723 16.730957,14.0490723 L4.92919922,14.0490723 L4.92919922,11 L0.5,15.806 L4.92919922,20.5103758 L5.00469971,16.9990234 L18.9700928,16.9990234 C19.5640928,16.9990234 19.9453125,16.4010001 19.9453125,15.8060001 L19.9453125,9.5324707 L17.142,12.203"></path></svg></a>
              <a href="http://jackgmorris.com/post/157567331236/glove" class="note_count">3</a>
            </div>
            <div class="post_meta date_and_source">
              <h6 class="date"><a href="http://jackgmorris.com/post/157567331236/glove">3 months ago</a></h6>
            </div>
            <div class="post_meta tags"><a href="http://jackgmorris.com/tagged/35mm">#35mm</a> <a href="http://jackgmorris.com/tagged/35mm-film">#35mm film</a> <a href="http://jackgmorris.com/tagged/35mm-photography">#35mm photography</a> <a href="http://jackgmorris.com/tagged/rubber-glove-street-photography">#rubber glove street photography</a> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="post photo" id="P157525626545">
      <div class="post_media">
        <a href="http://jackgmorris.com/image/157525626545"><img src="http://68.media.tumblr.com/79524e05c5961c8426d1cbc8133a982d/tumblr_oljeginhSt1ucvk4jo1_400.jpg" width="400" height="259" alt="Blue Rose." class="main_image" /></a>
      </div>

      <div class="post_information">
        <div class="central_container">
          <div class="inner_container">
            <div class="post_controls">
              <div class="like_button" data-post-id="157525626545" data-blog-name="jackgmorris" id="like_button_157525626545"><iframe id="like_iframe_157525626545" src="http://assets.tumblr.com/assets/html/like_iframe.html?_v=5716f9145cbbcc5e21aa13229de5d4ed#name=jackgmorris&amp;post_id=157525626545&amp;color=white&amp;rk=BBg3NTJ7" scrolling="no" width="24" height="24" frameborder="0" class="like_toggle" allowTransparency="true" name="like_iframe_157525626545"></iframe></div>
              <a href="https://www.tumblr.com/reblog/157525626545/BBg3NTJ7" class="reblog_button"style="display: block;width:24px;height:24px;"><svg width="100%" height="100%" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff"><path d="M5.01092527,5.99908429 L16.0088498,5.99908429 L16.136,9.508 L20.836,4.752 L16.136,0.083 L16.1360004,3.01110845 L2.09985349,3.01110845 C1.50585349,3.01110845 0.979248041,3.44726568 0.979248041,4.45007306 L0.979248041,10.9999998 L3.98376463,8.30993634 L3.98376463,6.89801007 C3.98376463,6.20867902 4.71892527,5.99908429 5.01092527,5.99908429 Z"></path><path d="M17.1420002,13.2800293 C17.1420002,13.5720293 17.022957,14.0490723 16.730957,14.0490723 L4.92919922,14.0490723 L4.92919922,11 L0.5,15.806 L4.92919922,20.5103758 L5.00469971,16.9990234 L18.9700928,16.9990234 C19.5640928,16.9990234 19.9453125,16.4010001 19.9453125,15.8060001 L19.9453125,9.5324707 L17.142,12.203"></path></svg></a>
              <a href="http://jackgmorris.com/post/157525626545/blue-rose" class="note_count">2</a>
            </div>
            <div class="post_meta date_and_source">
              <h6 class="date"><a href="http://jackgmorris.com/post/157525626545/blue-rose">3 months ago</a></h6>
            </div>
            <div class="post_meta tags"><a href="http://jackgmorris.com/tagged/35mm">#35mm</a> <a href="http://jackgmorris.com/tagged/35mm-film">#35mm film</a> <a href="http://jackgmorris.com/tagged/35mm-photography">#35mm photography</a> <a href="http://jackgmorris.com/tagged/blue">#blue</a> <a href="http://jackgmorris.com/tagged/rose">#rose</a> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="post photo" id="P157481756689">
      <div class="post_media">
        <a href="http://jackgmorris.com/image/157481756689"><img src="http://68.media.tumblr.com/6366f62d5cd8f01b93951efa66e6d485/tumblr_oljeesVaW01ucvk4jo1_400.jpg" width="400" height="265" alt="BC Ferries w/ Nat." class="main_image" /></a>
      </div>

      <div class="post_information">
        <div class="central_container">
          <div class="inner_container">
            <div class="post_controls">
              <div class="like_button" data-post-id="157481756689" data-blog-name="jackgmorris" id="like_button_157481756689"><iframe id="like_iframe_157481756689" src="http://assets.tumblr.com/assets/html/like_iframe.html?_v=5716f9145cbbcc5e21aa13229de5d4ed#name=jackgmorris&amp;post_id=157481756689&amp;color=white&amp;rk=ArOxwMYP" scrolling="no" width="24" height="24" frameborder="0" class="like_toggle" allowTransparency="true" name="like_iframe_157481756689"></iframe></div>
              <a href="https://www.tumblr.com/reblog/157481756689/ArOxwMYP" class="reblog_button"style="display: block;width:24px;height:24px;"><svg width="100%" height="100%" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff"><path d="M5.01092527,5.99908429 L16.0088498,5.99908429 L16.136,9.508 L20.836,4.752 L16.136,0.083 L16.1360004,3.01110845 L2.09985349,3.01110845 C1.50585349,3.01110845 0.979248041,3.44726568 0.979248041,4.45007306 L0.979248041,10.9999998 L3.98376463,8.30993634 L3.98376463,6.89801007 C3.98376463,6.20867902 4.71892527,5.99908429 5.01092527,5.99908429 Z"></path><path d="M17.1420002,13.2800293 C17.1420002,13.5720293 17.022957,14.0490723 16.730957,14.0490723 L4.92919922,14.0490723 L4.92919922,11 L0.5,15.806 L4.92919922,20.5103758 L5.00469971,16.9990234 L18.9700928,16.9990234 C19.5640928,16.9990234 19.9453125,16.4010001 19.9453125,15.8060001 L19.9453125,9.5324707 L17.142,12.203"></path></svg></a>
              <a href="http://jackgmorris.com/post/157481756689/bc-ferries-w-nat" class="note_count">3</a>
            </div>
            <div class="post_meta date_and_source">
              <h6 class="date"><a href="http://jackgmorris.com/post/157481756689/bc-ferries-w-nat">3 months ago</a></h6>
            </div>
            <div class="post_meta tags"><a href="http://jackgmorris.com/tagged/35mm">#35mm</a> <a href="http://jackgmorris.com/tagged/35mm-film">#35mm film</a> <a href="http://jackgmorris.com/tagged/35mm-photography">#35mm photography</a> <a href="http://jackgmorris.com/tagged/explore-bc-bc-ferries-beautiful-british-columbia">#explore bc bc ferries beautiful british columbia</a> <a href="http://jackgmorris.com/tagged/boat">#boat</a> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="post photo" id="P157436831590">
      <div class="post_media">
        <a href="http://jackgmorris.com/image/157436831590"><img src="http://68.media.tumblr.com/2a00a6922dcc7f8b60b278be2ec09df0/tumblr_olje7uycES1ucvk4jo1_400.jpg" width="400" height="268" alt="Car Club." class="main_image" /></a>
      </div>

      <div class="post_information">
        <div class="central_container">
          <div class="inner_container">
            <div class="post_controls">
              <div class="like_button" data-post-id="157436831590" data-blog-name="jackgmorris" id="like_button_157436831590"><iframe id="like_iframe_157436831590" src="http://assets.tumblr.com/assets/html/like_iframe.html?_v=5716f9145cbbcc5e21aa13229de5d4ed#name=jackgmorris&amp;post_id=157436831590&amp;color=white&amp;rk=AN8qUaKU" scrolling="no" width="24" height="24" frameborder="0" class="like_toggle" allowTransparency="true" name="like_iframe_157436831590"></iframe></div>
              <a href="https://www.tumblr.com/reblog/157436831590/AN8qUaKU" class="reblog_button"style="display: block;width:24px;height:24px;"><svg width="100%" height="100%" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff"><path d="M5.01092527,5.99908429 L16.0088498,5.99908429 L16.136,9.508 L20.836,4.752 L16.136,0.083 L16.1360004,3.01110845 L2.09985349,3.01110845 C1.50585349,3.01110845 0.979248041,3.44726568 0.979248041,4.45007306 L0.979248041,10.9999998 L3.98376463,8.30993634 L3.98376463,6.89801007 C3.98376463,6.20867902 4.71892527,5.99908429 5.01092527,5.99908429 Z"></path><path d="M17.1420002,13.2800293 C17.1420002,13.5720293 17.022957,14.0490723 16.730957,14.0490723 L4.92919922,14.0490723 L4.92919922,11 L0.5,15.806 L4.92919922,20.5103758 L5.00469971,16.9990234 L18.9700928,16.9990234 C19.5640928,16.9990234 19.9453125,16.4010001 19.9453125,15.8060001 L19.9453125,9.5324707 L17.142,12.203"></path></svg></a>
            </div>
            <div class="post_meta date_and_source">
              <h6 class="date"><a href="http://jackgmorris.com/post/157436831590/car-club">3 months ago</a></h6>
            </div>
            <div class="post_meta tags"><a href="http://jackgmorris.com/tagged/35mm">#35mm</a> <a href="http://jackgmorris.com/tagged/35mm-film">#35mm film</a> <a href="http://jackgmorris.com/tagged/35mm-photography">#35mm photography</a> <a href="http://jackgmorris.com/tagged/classic-car">#classic car</a> <a href="http://jackgmorris.com/tagged/vintage-car">#vintage car</a> <a href="http://jackgmorris.com/tagged/mg-triumph">#mg triumph</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var Issue = {
      index_page    : true,
      tags      : false,
      infinite_scroll   : false,
      background_color  : '#fcebd5',
      text_color    : '#000000',
      accent_color    : '#FFFFFF'
    }
  </script>
  <script type="text/javascript" src="http://static.tumblr.com/m9ln1jy/N3xnajktr/issue.js"></script>

</body>
</html>